@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~react-toastify/dist/ReactToastify.min.css";

:root {
  --foreground-rgb: 250, 250, 250;
  --background-rgb: 8, 8, 8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.avatar {
  -webkit-animation: rainbow 8s steps(36) infinite;
}

@-webkit-keyframes rainbow {
  0% {
    -webkit-filter: hue-rotate(180deg);
  }
  50% {
    -webkit-filter: hue-rotate(260deg);
  }
  100% {
    -webkit-filter: hue-rotate(180deg);
  }
}

@keyframes rainbow {
  0% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
  50% {
    -webkit-filter: hue-rotate(260deg);
    filter: hue-rotate(260deg);
  }
  100% {
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
  }
}
